@layer reset, theme, base, components;

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer theme {
  :root {
    --primary: #31572C;
    --secondary: #4F772D;
    --accent: #90A955;

    --text-dark: #132A13;
    --text-light: #ECF39E;
  }
}

@layer base {
  body {
    font-family: 'Inter Variable', sans-serif;
    background-color: var(--primary);
  }

  footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-light);



    & .contacts-section {
      width: 100%;
      padding: 1rem;
      background-color: var(--secondary);
      text-align: center;

      & span:nth-of-type(odd) {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    & ul {
      list-style: none;

      & a {
        font-size: 1.3rem;
        text-decoration: none;
        color: var(--text-light);
      }

      & li {
        margin-bottom: 0.2rem;
      }

      & li:hover {
        transform: scale(1.1);
        transition: transform 0.2s cubic-bezier(0.25, 1, 0.5, 1);
      }
    }

    & .info-section {
      background-color: var(--primary);
      width: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      & .info-text {
        width: min(100%, 80ch);

        & p:nth-of-type(2),
        p:last-of-type {
          margin-top: 1rem;
        }
      }
    }

    & .copyright {
      width: 100%;
      background-color: var(--accent);
      padding: 1rem;
      text-align: center;
      margin-top: 1rem;
      color: var(--text-dark);
    }
  }
}

@layer components {
  .hero {
    padding: 2rem;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    color: var(--text-light);

    & h2 {
      margin-top: 1rem;
    }

    & span {
      opacity: 0.6;
    }

    & p:first-of-type,
    p:nth-of-type(2),
    p:nth-of-type(4),
    p:nth-of-type(7),
    p:last-of-type {
      margin-top: 1rem;
    }

    & img {
      border-radius: 12px;
      border: solid var(--accent) 4px;
      width: clamp(200px, 100%, 100%);
      aspect-ratio: 1/1;
    }
  }

  .project-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--accent);

  }

  .project-container {
    display: flex;
    border-bottom: 2px solid var(--secondary);

    & img {
      object-fit: cover;
      width: clamp(300px, 350px, 400px);
    }

    & .project-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 6px 1rem;
      color: var(--text-dark);

      & ul {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        list-style: none;

        & .project-pill {
          background-color: var(--primary);
          color: var(--text-light);
          width: fit-content;
          padding: 6px 12px;
          border-radius: 20px;
        }
      }

      & a {
        display: flex;
        gap: 4px;
        color: var(--text-dark);
        text-decoration: none;
        margin-top: 8px;
      }
    }

    svg {
      width: 1rem;
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    grid-template-columns: 1fr;

    & div:last-child {
      justify-self: center;
      width: min(400px, 100%);
      margin-top: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .project-container {
    border-bottom: 2px solid var(--secondary);
    flex-direction: column;

    & img {
      border: 4px solid var(--primary);
      border-radius: 12px;
      width: 75%;
      margin: 1rem auto;
    }

    & .project-info {
      align-items: center;
      text-align: center;

      & ul {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 480px) {
  .project-container img {
    width: calc(100vw - 1rem);
  }
}